<header role="banner">
<div class="wrap">
  <h1>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
</div>
<div class="text">
  <p>
    Hi! I'm Andrew Ek. This is where I write about things like software
    development, teaching, learning, organizational communication, and other things.
    I'm so glad you're here.
  </p>
  <p>
    <a href="https://andrewek.substack.com/">Subscribe to my newsletter</a> or
    <a href="https://twitter.com/ektastrophe">follow me on twitter</a>, if you
    like.
  </p>
</div>
<hr />
</header>
